<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h1>Authenticate</h1>
<input type="text" class="form-control" id="auth" [(ngModel)]="auth">

<h1>UserID</h1>
<input type="text" class="form-control" id="level" [(ngModel)]="userID">

<button type="button" class="btn btn-primary" (click)="doAuth(auth)">Confirmar Identidad</button>

<h1>Level</h1>
<input type="text" class="form-control" id="level" [(ngModel)]="level">
<button type="button" class="btn btn-primary" (click)="searchGame(level)">Buscar Juego</button>


<h1>Nombre</h1>
<input type="text" class="form-control" id="name" [(ngModel)]="username">
<button type="button" class="btn btn-primary" (click)="newUser(username)">Ingresar</button>


<div>
  <h1>Apuesta</h1>
  <input type="text" class="form-control" id="bet" [(ngModel)]="bet">
  <button type="button" class="btn btn-primary" (click)="userBet(bet)">Apuesta</button>
  <input type="checkbox" name= "check" (change)="onChange($event.target.checked)" />
  <label for="check"> Pairing</label>
</div>

<div>
  <h1>pregunta</h1>
  <!-- <input type="text" class="form-control" id="pregunta" [(ngModel)]="pregunta">-->
  <select name="pregunta" id="pregunta" class="form-control" [(ngModel)]="pregunta">
    <option value="option_1" selected>Opcion 1</option>
    <option value="option_2" >Opcion 2</option>
    <option value="option_3">Opcion 3</option>
  </select>
  <input type="text" class="form-control" id="bet" [(ngModel)]="time" hidden>
<button type="button" class="btn btn-primary" (click)="enviarRespuesta(pregunta, time)">respuesta</button>
</div>
