<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h1>Authenticate</h1>
<input type="text" class="form-control" id="auth" [(ngModel)]="auth">
<button type="button" class="btn btn-primary" (click)="doAuth(auth)">Authenticate</button>

<h1>UserID</h1>
<input type="text" class="form-control" id="level" [(ngModel)]="userID">

<h1>Level</h1>
<input type="text" class="form-control" id="level" [(ngModel)]="level">
<button type="button" class="btn btn-primary" (click)="searchGame(level)">searchGame</button>

<h1>Nombre</h1>
<input type="text" class="form-control" id="name" [(ngModel)]="username">
<button type="button" class="btn btn-primary" (click)="newUser(username)">Primary</button>


<div>
    <h1>Apuesta</h1>
  <input type="text" class="form-control" id="bet" [(ngModel)]="bet">
<button type="button" class="btn btn-primary" (click)="userBet(bet)">Apuesta</button>
<input type="checkbox" name= "check" (change)="onChange($event.target.checked)" />
<label for="check"> Pairing</label>
</div>

<div>
    <h1>pregunta</h1>
  <input type="text" class="form-control" id="pregunta" [(ngModel)]="pregunta">
  <input type="text" class="form-control" id="bet" [(ngModel)]="time">
<button type="button" class="btn btn-primary" (click)="enviarRespuesta(pregunta, time)">respuesta</button>
</div>
-->